.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-arrow,
.right-arrow {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  background: none;
}

.title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0px 50px;
}

.text-box {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.add-emoji-button {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;

  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;

  background-color: rgb(230, 235, 240);
  color: rgb(80, 80, 80);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.add-emoji-button:hover {
  background-color: rgb(210, 220, 230);
  transform: scale(1.03);
}

.submit-button {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;

  margin-top: 10px;
  padding: 10px 0px;
  width: 200px;
  border: None;
  border-radius: 5px;

  background-color: rgb(194, 208, 214);
  color: rgb(56, 56, 56);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(106, 207, 106);
  color: white;
}

.paragraph-content {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
}
