.day-box {
  flex: 1;
  height: 140px;
  margin: 2px;
  color: black;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.has-entry {
  background-color: rgb(246, 227, 143);
}
.no-entry {
  background-color: rgb(231, 231, 231);
}
.has-entry:hover {
  background-color: rgb(106, 207, 106);
  color: white;
}
.no-entry:hover {
  background-color: rgb(183, 208, 183);
  color: white;
}

.pulse-effect {
  animation: pulseColor 5s ease-in-out infinite;
}

@keyframes pulseColor {
  0%,
  100% {
    background-color: rgb(236, 176, 171);
  }
  50% {
    background-color: rgb(233, 93, 144);
  }
}

.day-index {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding-top: 5px;
}

.paragraph {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 5px;
}
