.keyboard-container {
  width: 240px;
  height: 180px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
}

.keyboard-header-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.drag-bar {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  color: gray;
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

.drag-bar:hover {
  color: rgb(32, 32, 32);
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;

  transition: color 0.1s ease-in-out;
}

.close-button:hover {
  color: rgb(32, 32, 32);
}

.emoji-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 4px;
}

.emoji-button {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;

  border: None;
  border-radius: 3px;

  margin: 2px;
  width: 30px;
  height: 30px;

  cursor: pointer;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-button:hover {
  background-color: rgb(215, 232, 232);
}
